/* estilo2.css */

body {
    background-image: url(imagen/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #d3d3d3;
    position: relative;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    color: #444;
}

td form {
    display: inline-block;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

form input[type="hidden"] {
    display: none;
}

form[action='editarusu.php'] input[type="submit"] {
    background-color: #008CBA;
}

form[action='editarusu.php'] input[type="submit"]:hover {
    background-color: #007EA7;
}

